@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --bright-blue: hsl(245, 75%, 52%);
    --bright-blue-hover: hsl(244, 83%, 68%);
}

html {
    min-height: 100vh;
    background: url('/images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--pale-blue);
    font-family: 'Red Hat Display', sans-serif;
}

.card-container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 28.125rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 50px;
    border-radius: 15px;
}

.svg-hero {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 50px;
}

h1 {
    margin-bottom: 30px;
}

.card-description {
    width: 70%;
    text-align: center;
    font-size: 1rem;
    color: var(--desaturated-blue);
    margin-bottom: 50px;
}

.card-price {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--very-pale-blue);
}

.card-price-annual {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -40px;
}

.card-price-value {
    color: var(--desaturated-blue);
    font-size: 1.125rem;
}

h2 {
    font-size: 1.125rem;
}

a {
    color: var(--bright-blue);
}

a:hover {
    color: var(--bright-blue-hover);
    text-decoration: none;
}

.card-payment {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}


button {
    height: 50px;
    width: 100%;
    color: #FFF;
    background-color: var(--bright-blue);
    border: none;
    border-radius: 15px;
}

button:hover {
    cursor: pointer;
    background-color: var(--bright-blue-hover);
}

.card-payment-cancel {
    color: var(--desaturated-blue);
}

.card-payment-cancel:hover {
    cursor: pointer;
    color: var(--dark-blue);
}


@media (max-width: 500px) {
    html {
        min-height: 100vh;
        background: url('/images/pattern-background-mobile.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-color: var(--pale-blue);
    }

    .card,
    .svg-hero {
        width: 95vw;
    }

}

.attribution {
    width: 100%;
    margin-top: -25px;
    font-size: 0.688rem;
    text-align: center;
}

.attribution a {
    color: var(--bright-blue);
}